<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <a routerLink="" mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">Mero Asset</span>
      </a>
    </div>

    <div fxShow="true" fxHide.xs>
      <a href="" mat-button>Explore</a>
    </div>

    <div>
      <button mat-icon-button>
        <mat-icon fxHide fxShow.xs>more_vert</mat-icon>
        <span fxShow fxHide.xs>Menu</span>
      </button>
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row fxLayoutAlign="space-between end" fxHide="true" fxShow.xs>
    <button mat-button>Home</button>
    <button mat-button>Contact Us</button>
    <button mat-button>About Us</button>
  </mat-toolbar-row>
</mat-toolbar>
