<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <a routerLink="" mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">Mero Asset</span>
      </a>
    </div>

    <div fxShow="true" fxHide.xs>
      <a href="" mat-button>Explore</a>
    </div>

    <div *ngIf="!isLoggedIn()">
      <a routerLink="/auth/login" mat-flat-button color="primary">Login</a>
    </div>
    <div *ngIf="isLoggedIn()">
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent>
          <a mat-menu-item class="focus" routerLink="/user">Profile</a>
          <button mat-menu-item color="primary">Settings</button>
          <button mat-menu-item (click)="logout()">Logout</button>
        </ng-template>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon class="focus">account_circle</mat-icon>
      </button>
    </div>

  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="space-between end" fxHide="true" fxShow.xs>
    <a href="" mat-button>Explore</a>
    <a routerLink="/auth/login" mat-button>Login</a>
  </mat-toolbar-row>
</mat-toolbar>
