<div class="container text-justify">
  <h1 class="text-center">Welcome to Meroasset</h1>
  <hr>
  <p>
    You've got big plans. Maybe you're moving for work, or traveling just because—but wherever you're headed, an
    old-school, yearlong lease won't cut it anymore. That's why we're here. We wake up every morning to help you
    find flexible, affordable housing and connect with roommates who make the big city feel like home.
  </p>

  <p>
    Meroasset allows people to search and book properties from available property list via online presence. The
    properties are displayed in categorical lists where clients can search the property that best suits their budget
    range as well as location.
  </p>
  <p>
    Meroasset will completely reduce the old tiresome process of physical travel for the search of room, flat,
    building etc. Without such burden, the clients will get all facilities of gharbhetiaa in a single click.
  </p>
  <p>
    Meroasset offers clients to set preferences for location as well as budget, as per their need. Property
    owners can post, manage and modify properties from their free accounts. In addition to this, the property owners
    can also view the list of the applicants and tag the property status to ‘Booked’.
  </p>
  <p>
    Meroasset is a facilitator that provides dedicated service to property owners and tenants. Meroasset is
    here for you, to provide efficient rental solution in this hectic busy schedule of modern day lifestyle.
  </p>
  <hr />

  <h2>5 Ideas We Live By</h2>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
    <div fxFlex="50%">
      <h3 class="font-weight-bold">Serve First</h3>
      <p>Everything we do at Roomi, we do for you. Got a question? Found a bug we should know about? Let us know at
        hello@roomiapp.com. (And yes, there are real people on the other end.)</p>
    </div>

    <div fxFlex="50%">
      <h3 class="font-weight-bold">Stay Focused</h3>
      <p>It's easy to get carried away with great ideas—but we'd rather bring you a few game-changing tools than a whole
        lot of mediocre ones. That's why we promise to get our current features right before we build something new.</p>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
    <div fxFlex="50%">
      <h3 class="font-weight-bold">Never Settle</h3>
      <p>We're working toward a future where flexible, affordable shared living is the norm. We've got a long way to go,
        but with your support, we get closer every day.</p>
    </div>

    <div fxFlex="50%">
      <h3 class="font-weight-bold">Be Transparent</h3>
      <p>In a world of shady listings, we built Roomi to be a breath of fresh air. We strive for transparency in
        everything we do, which sometimes means owning up to our mistakes. You deserve that from us.</p>
    </div>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%">
    <div fxFlex="50%">
      <h3 class="font-weight-bold">Empower Renters</h3>
      <p>It's your life, and your home. That's why we gave you the power to search by shared interests, amenities,
        move-in date—in short, by all the things that matter most to you.</p>
    </div>
    <div fxFlex="50%"></div>
  </div>
</div>
