<!-- <div fxLayout="row" fxLayout.xs="column" fxFlex>

  <nav fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="2">nav</nav>
  <article fxFlex="3 1 60%" fxFlexOrder fxFlexOrder.xs="1">

    article
  </article>
  <aside fxFlex="1 6 20%" fxFlexOrder fxFlexOrder.xs="3">aside</aside>


</div> -->


<div fxLayout="row" fxLayout.xs="column">

  <div fxFlex="70%">
    <div style="background-image: url(./../../../assets/images/1.jpg)" class="showcase-image"></div>
  </div>
  <div fxFlex="30%">
    <mat-list fxLayout="column">
      <mat-list-item> Pepper </mat-list-item>
      <mat-list-item> Salt </mat-list-item>
      <mat-list-item> Paprika </mat-list-item>
    </mat-list>
  </div>

</div>
