@import 'config';

mat-grid-list {
  background-color: $primary;
}

.main-footer {
  background-color: $dark-1;
  color: white;
  text-align: center;
  padding: 5px 0;
}

ul {
  list-style: none;

  a {
    font-size: 15px;
    color: $light;
  }

  a:hover {
    text-decoration: underline;
  }
}

h4 {
  color: $light;
}

i {
  font-size: 1.3rem;
  padding-right: 7px;
}
