@import 'config';
@import 'text';

.sub-footer {
  background-color: $primary;
  padding: 20px 40px 20px 0px;
  font-size: 15px;
  color: $light;

  ul {
    list-style: none;
  }

  .company-info {
    a {
      color: $light;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  i {
    font-size: 1.3rem;
    padding: 5px 8px 0 0;
  }
}

.main-footer {
  background-color: $dark-1;
  color: white;
  padding: 5px 0;
}
