$primary-dark: #1D2731;
$primary-light: #328CC1;
$secondary-dark: #0B3C5D;
$secondary-light: #4484CE;
$color-dark: #000000;
$color-light: #FFFFFF;
$background-dark: #0d0d0d;
$background-light: #D9D9D9;
$accent: #D9B310;
