$dark-100: #0d0d0d;
$dark-200: #1D2731;

$primary-100: #0B3C5D;
$primary-200: #007bff;
$primary-300:#328CC1;
$primary-400:#4484CE;

// secondary

$accent: #D9B310;
$light: #f8f9fa;

$danger: #dc3545;


.focus {
  color: $accent;
}

.danger {
  color: $danger;
}



// main
// brand
// highlight
// neutral



// $secondary: #6c757d;
// $success: #28a745;
// $info: #17a2b8;
// $warning: #ffc107;
// $light: #f8f9fa;
// $dark: #343a40;
