<mat-toolbar>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div>
      <a routerLink="" mat-button>
        <img src="./../../../../assets/images/logo/meroasset.png" class="brand" alt="Meroasset">
      </a>
    </div>

    <div fxShow="true" fxHide.xs>
      <a href="" mat-button class="light">Explore</a>
    </div>

    <div *ngIf="!isLoggedIn()">
      <a routerLink="/auth/login" mat-flat-button color="primary" class="login">Login</a>
    </div>
    <div *ngIf="isLoggedIn()">
      <mat-menu #appMenu="matMenu">
        <ng-template matMenuContent>
          <a mat-menu-item routerLink="/rental/">My Activity</a>
          <a mat-menu-item routerLink="/user">Profile</a>
          <a mat-menu-item routerLink="/user">Settings</a>
          <a mat-menu-item (click)="logout()">Logout</a>
        </ng-template>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon class="accent">account_circle</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxLayoutAlign="space-between end" fxHide="true" fxShow.xs>
    <a href="" mat-button>Explore</a>
    <a routerLink="/auth/login" mat-button>Login</a>
  </mat-toolbar-row>
</mat-toolbar>
