@import 'config';
@import 'text';

input {
  width: 100%;
}

.container {
  width: 60%;
  //   background-color: red;
  margin: 40px auto;
  padding: 40px;
  border: 1px solid $accent;
}


/* Media Queries */
@media (max-width: 992px) {}

@media (max-width: 768px) {
  .container {
    width: 70%;
  }
}

@media (max-width: 576px) {}
